<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>GitBook</title>
<meta charset="iso-8859-1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <hgroup>
      <h1><a href="#">GitBook</a></h1>
      <h2>Find good stuff to work on</h2>
    </hgroup>
    <nav>
      <ul>
        <li><a href="https://github.com/">Github</a></li>
        <li><a href="#">StackOverflow</a></li>
        <li><a href="#">TopCoder</a></li>
        <li><a href="http://www.spoj.com/">Spoj</a></li>
        <li class="last"><a href="http://www.acm.org/">ACM</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <!--<section id="slider"><a href="#"><img src="{{ url_for('static', filename='img/demo/960x360.gif') }}" alt=""></a></section> -->

    <!-- main content -->
    <div id="homepage">
      <!-- services area -->
      <section id="services" class="clear">

<div id="user_data">
 <!--  Commented the form here.. revoke back from this point if needed -->
<form name="user_data" action="/results" method="get">

<div class="left_pane_wrapper">
<div class="left_pane">

<div class="fieldwrapper">
<label for="languages" class="styled">Choose Preferred Languages:</label>
<div class="thefield">
	<ul style="margin-top:0;">
	{% for language in languages %}
	<li><input type="checkbox" id="{{language}}" name="languages" value="{{language}}" /> <label for="{{language}}">{{language}}</label></li>
	{% endfor %}
	<!--<li class="last"><input type="checkbox" id="php" name="languages" value="" /> <label for="php">PHP and Database</label></li> -->
	</ul>
</div>
</div>

<div class="fieldwrapper">
	<label for="difficulty" class="styled">Choose Difficulty Level:</label>
	<div class="thefield">
		<input type="radio" id="easy" name="difficulty" value="easy"/> <label for="easy">easy</label>
	<input type="radio" id="medium" name="difficulty" value="medium" /> <label for="medium">medium</label>
	<input type="radio" id="hard" name="difficulty" value="hard" /> <label for="hard">hard</label>
	</div>
</div>

</div>
</div>

<div class="right_pane">

<div class="fieldwrapper">
	<label for="aoi" class="styled">Choose area of interest:</label>
	<div class="thefield">
	<ul style="margin-top:0;">
		{% for aoi in areas_of_interest %}
		<li><input type="checkbox" id="{{aoi}}" name="area_of_interest" value="{{aoi}}"/> <label for="{{aoi}}">{{aoi}}</label></li>
		{% endfor %}
	</ul>	
	</div>
</div>



</div> <!-- Float Left div-->

<div id="clear"></div>

<div id="submit_wrapper">
	<input type="submit" id="submit" name="submit" value="Find Projects" >
<!--	
	<a href="{{url_for('results')}}"><img src="{{ url_for('static', filename='img/github-logo.png') }}" width = 25% height =25% alt=""> Find projects</a>
-->
</div>
</form>


<!--

<form name="input" action="html_form_action.asp" method="get">
Username: <input type="text" name="user">
<input type="submit" value="Submit">
</form>
-->
</div>

</section>

      <section id="latest">
        <article>
          <figure>
            <ul class="clear">
              <li class="one_third"> Use this space if needed</li>
              <li class="one_third">Use this space if needed</li>
              <li class="one_third lastbox">Use this space if needed</li>
            </ul>
          </figure>
        </article>
      </section>
      <!-- / latest work -->
    </div>
    <!-- main content -->
   
    <!-- right column -->
    
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2013 - All Rights Reserved - <a href="#">GitBook</a></p>
    <p class="fl_right">Project by Ashwath Rajendran, Garima Agarwal and Suvodeep Pyne</a></p>
  </footer>
</div>
</body>
</html>
