<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>GitBook</title>
<meta charset="iso-8859-1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <hgroup>
      <h1><a href="#">GitBook</a></h1>
      <h2>Find good stuff to work on</h2>
    </hgroup>
    <nav>
      <ul>
        <li><a href="https://github.com/">Github</a></li>
        <li><a href="#">StackOverflow</a></li>
        <li><a href="#">TopCoder</a></li>
        <li><a href="http://www.spoj.com/">Spoj</a></li>
        <li class="last"><a href="http://www.acm.org/">ACM</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <!--<section id="slider"><a href="#"><img src="{{ url_for('static', filename='img/demo/960x360.gif') }}" alt=""></a></section> -->

    <!-- main content -->
    <div id="homepage">
      <!-- services area -->
      <section id="services" class="clear">
<form class="feedbackform">


<div class="left_pane">

<div class="fieldwrapper">
<label for="languages" class="styled">Choose Preferred Languages:</label>
<div class="thefield">
	<ul style="margin-top:0;">
	<li><input type="checkbox" id="html" name="languages" value="" /> <label for="html">HTML/ CSS</label></li>
	<li><input type="checkbox" id="javascript" name="languages" value=""/> <label for="javascript">JavaScript</label></li>
	<li><input type="checkbox" id="ajax" name="languages" value="" /> <label for="ajax">Ajax and XML</label></li>
	<li><input type="checkbox" id="php" name="languages" value="" /> <label for="php">PHP and Database</label></li>
	</ul>
	<span style="font-size: 80%">* Please check all that apply.</span>
</div>
</div>

</div>

<div style="right_pane">

<div class="fieldwrapper">
<label for="languages" class="styled">Choose Preferred Languages:</label>
<div class="thefield">
	<ul style="margin-top:0;">
	<li><input type="checkbox" id="html" name="languages" value="" /> <label for="html">HTML/ CSS</label></li>
	<li><input type="checkbox" id="javascript" name="languages" value=""/> <label for="javascript">JavaScript</label></li>
	<li><input type="checkbox" id="ajax" name="languages" value="" /> <label for="ajax">Ajax and XML</label></li>
	<li><input type="checkbox" id="php" name="languages" value="" /> <label for="php">PHP and Database</label></li>
	</ul>
	<span style="font-size: 80%">* Please check all that apply.</span>
</div>
</div>


<div class="fieldwrapper">
	<label for="difficulty" class="styled">Choose Difficulty Level:</label>
	<div class="thefield">
		<input type="radio" id="easy" name="difficulty" value=""/> <label for="easy">easy</label>
	<input type="radio" id="medium" name="difficulty" value="" /> <label for="medium">medium</label>
	<input type="radio" id="hard" name="difficulty" value="" /> <label for="hard">hard</label>
	</div>
</div>

</div> <!-- Float Left div-->

<div class="fieldwrapper">
	<label for="username" class="styled">Your Name:</label>
	<div class="thefield">
		<input type="text" id="username" value="" size="30" />
	</div>
</div>

<div class="fieldwrapper">
	<label for="email" class="styled">Email address:</label>
	<div class="thefield">
		<input type="text" id="email" value="" size="30" /><br />
		<span style="font-size: 80%">*Note: Please make sure it's correctly entered!</span>
	</div>
</div>

<div class="fieldwrapper">
	<label for="somehighschool" class="styled">education:</label>
	<div class="thefield">
		<ul style="margin-top:0;">
		<li><input type="radio" id="somehighschool" name="education" value=""/> <label for="somehighschool">Some Highschool</label></li>
		<li><input type="radio" id="highschool" name="education" value="" /> <label for="highschool">Highschool graduate</label></li>
		<li><input type="radio" id="somecollege" name="education" value="" /> <label for="somecollege">Some college</label></li>
		<li><input type="radio" id="vocation" name="education" value="" /> <label for="vocation">Vocation school</label></li>
		<li><input type="radio" id="college" name="education" value="" /> <label for="college">College graduate or higher</label></li>
		</ul>
	</div>
</div>

<div class="fieldwrapper">
<label for="html" class="styled">Skills:</label>
<div class="thefield">
	<ul style="margin-top:0;">
	<li><input type="checkbox" id="html" name="skills" value="" /> <label for="html">HTML/ CSS</label></li>
	<li><input type="checkbox" id="javascript" name="skills" value=""/> <label for="javascript">JavaScript</label></li>
	<li><input type="checkbox" id="ajax" name="skills" value="" /> <label for="ajax">Ajax and XML</label></li>
	<li><input type="checkbox" id="php" name="skills" value="" /> <label for="php">PHP and Database</label></li>
	</ul>
	<span style="font-size: 80%">* Please check all that apply.</span>
</div>
</div>

<div class="fieldwrapper">
<label for="agegroup" class="styled">Department:</label>
<div class="thefield">
	<select id="agegroup">
	<option value="2.1">HR department</option>
	<option value="3">Sales</option>
	<option value="4.1">Customer Service/ Support</option>
	<option value="5.2">Accounting</option>
	</select>
</div>
</div>

<div class="fieldwrapper">
<label for="about" class="styled">About yourself:</label>
<div class="thefield">
	<textarea id="about"></textarea>
</div>
</div>

<div class="buttonsdiv">
<input type="submit" value="Submit" style="margin-left: 150px;" /> <input type="reset" value="Reset" />
</div>

</form>



        <article class="one_quarter">
          <figure><img src="{{ url_for('static', filename='img/demo/32x32.gif') }}" width="32" height="32" alt=""></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
        <article class="one_quarter">
          <figure><img src="{{ url_for('static', filename='img/demo/32x32.gif') }}" width="32" height="32" alt=""></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
        <article class="one_quarter">
          <figure><img src="{{ url_for('static', filename='img/demo/32x32.gif') }}" width="32" height="32" alt=""></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
        <article class="one_quarter lastbox">
          <figure><img src="{{ url_for('static', filename='img/demo/32x32.gif') }}" width="32" height="32" alt=""></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
      </section>
      <!-- / services area -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- / latest work -->
      <section id="latest">
        <article>
          <figure>
            <ul class="clear">
              <li class="one_third"><img src="{{ url_for('static', filename='img/demo/290x180.gif') }}" width="290" height="180" alt=""></li>
              <li class="one_third"><img src="{{ url_for('static', filename='img/demo/290x180.gif') }}" width="290" height="180" alt=""></li>
              <li class="one_third lastbox"><img src="{{ url_for('static', filename='img/demo/290x180.gif') }}" width="290" height="180" alt=""></li>
            </ul>
            <figcaption><a href="#">View All Our Recent Work Here &raquo;</a></figcaption>
          </figure>
        </article>
      </section>
      <!-- / latest work -->
    </div>
    <!-- main content -->
    <div id="content">
      <section id="posts" class="last clear">
        <ul>
          <li>
            <article class="clear">
              <figure><img src="{{ url_for('static', filename='img/demo/180x150.gif') }}" alt="">
                <figcaption>
                  <h2>Indonectetus facilis leo nibh</h2>
                  <p>This is a W3C compliant free website template from <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a>. For full terms of use of this template please read our <a href="http://www.os-templates.com/template-terms">website template licence</a>.</p>
                  <footer class="more"><a href="#">Read More &raquo;</a></footer>
                </figcaption>
              </figure>
            </article>
          </li>
          <li class="last">
            <article class="clear">
              <figure><img src="{{ url_for('static', filename='img/demo/180x150.gif') }}" alt="">
                <figcaption>
                  <h2>Indonectetus facilis leo nibh</h2>
                  <p>You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more HTML5 templates visit <a href="http://www.os-templates.com/">free website templates</a>.</p>
                  <footer class="more"><a href="#">Read More &raquo;</a></footer>
                </figcaption>
              </figure>
            </article>
          </li>
        </ul>
      </section>
    </div>
    <!-- right column -->
    <aside id="right_column">
      <h2 class="title">Categories</h2>
      <nav>
        <ul>
          <li><a href="#">Free Website Templates</a></li>
          <li class="last"><a href="#">Free Website Themes</a></li>
        </ul>
      </nav>
      <!-- /nav -->
    </aside>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2013 - All Rights Reserved - <a href="#">GitBook</a></p>
    <p class="fl_right">Project by Ashwath Rajendran, Garima Agarwal and Suvodeep Pyne</a></p>
  </footer>
</div>
</body>
</html>
